.botao{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
}
.botao:hover {
    background-color: #95ffd4;
}
.botao-topo{
    display: flex;
    margin: 20px auto;
    margin-top: 60px;
}