.formulario{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;

}

.formulario form{
    flex:1;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}
.formulario form h2{
    font-weight: 400;
    font-size: 32px;
}